<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>View All Employee</title>
  </head>
  <body>
 	<div class=*container*>
		<h1>All Employee details</h1>
		<hr>
		<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Salary</th>
      <th scope="col">Bonus</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Role</th>
      <th scope="col">Department</th>
      <th scope="col">Location</th>
      <th scope="col">Hire date</th>
    </tr>
  </thead>
  	{% for emp in emps %}
  <tbody>
    <tr>
	    <th scope="row">{{emp.id}}</th>
	    <td>{{emp.first_name}}</td>
	    <td>{{emp.last_name}}</td>
	    <td>{{emp.salary}}</td>
	    <td>{{emp.bonus}}</td>
	    <td>{{emp.phone}}</td>
	    <td>{{emp.role.name}}</td>
	    <td>{{emp.dept.name}}</td>
	    <td>{{emp.dept.location}}</td>
	    <td>{{emp.hire_date}}</td>
    </tr>
  </tbody>
  	{% endfor %}
</table>
  </body>
</html>
